<nb-card style="max-width:95vw; min-width:700px; max-height: 95vh;"> 
    <nb-card-header>
        Add Workflow
    </nb-card-header>
    <nb-card-body [nbSpinner]="loading">
        <div class="form-group">
            <label for="exampleInputEmail1" class="label">Type</label>
            <nb-select placeholder="Select Type" fullWidth [(selected)]="request.workflowType">
                <nb-option [value]="0">Main Flow</nb-option>
                <nb-option [value]="1">Sub-Flow</nb-option>
            </nb-select>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1" class="label">Name</label>
            <input type="text" [(ngModel)]="request.name" nbInput fullWidth placeholder="Name">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1" class="label">Description</label>
            <textarea nbInput fullWidth [(ngModel)]="request.description" placeholder="Description"></textarea>
        </div>
     
        <!-- <app-diagram [workflowId]="workflowId" [currentPrimaryDiagramId]="request.primaryDiagramId"></app-diagram> -->
      <app-diagram-upload [(deleteFiles)]="filesToDelete" [(addFiles)]="filesToAdd" [files]="diagramFiles" [(defaultDiagram)]="request.primaryDiagramId"></app-diagram-upload>
    </nb-card-body>
    <nb-card-footer>
        <div class="text-right">
            <button nbButton size="small" status="danger" (click)="closeDialog()" class="mr-2"> Cancel </button>
            <button nbButton size="small" *ngIf="!editMode" (click)="create()" status="primary"> Add </button>
            <button nbButton size="small" *ngIf="editMode" (click)="edit()" status="primary"> Update </button>

        </div>
    </nb-card-footer>
</nb-card>
