<nb-card style="max-width:95vw; max-height: 95vh;"> 
    <nb-card-header>
        Add Workflow
    </nb-card-header>
    <nb-card-body>
        <div class="form-group">
            <label for="exampleInputEmail1" class="label">Type</label>
            <nb-select placeholder="Select Type" fullWidth [(selected)]="request.workflowType">
                <nb-option [value]="0">Main Flow</nb-option>
                <nb-option [value]="1">Sub-Flow</nb-option>
            </nb-select>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1" class="label">Name</label>
            <input type="text" [(ngModel)]="request.name" nbInput fullWidth placeholder="Name">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1" class="label">Description</label>
            <textarea nbInput fullWidth [(ngModel)]="request.description" placeholder="Description"></textarea>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1" class="label">Diagram</label>
            <input type="file" (change)="handleFileInput($event.target.files)" nbInput fullWidth multiple="multiple">
        </div>
    </nb-card-body>
    <nb-card-footer>
        <div class="text-right">
            <button nbButton size="small" status="danger" (click)="closeDialog()" class="mr-2"> Cancel </button>
            <button nbButton size="small" (click)="create()" status="primary"> Add </button>
        </div>
    </nb-card-footer>
</nb-card>