.editSetups {
    font-family: Open Sans, sans-serif;
    font-size: 0.8125rem;
    font-weight: 600;
    line-height: 1.5rem;
    flex: 1 0 auto;
}

.menu-button{
    &:hover {
        box-shadow: 0px 6px 15px #0000ff61;
    }
}

.nav-button{
    margin: 0.5ch 0ch 0ch 0ch;
    transition: all 0.3s;
    &:hover {
        box-shadow: 0px 1px 10px #0000ff61 !important;
        margin: 0.5ch 0ch 0ch 1ch;
        transition: all 0.3s;
    }

}

.nav-button.selected{
    box-shadow: 0px 1px 6px #0000ff61 !important;
    margin: 1ch 0ch 0ch 1ch;
    position: relative;
    background-color: #efefef;
    transition: all 0.3s;
}