<div *ngIf="menuState==='expanded'">
    <nb-menu tag="menu" autoCollapse="true" [items]="items"></nb-menu>
    <div class="p-3 pt-4">
        <div>
            <button nbButton appearance="ghost" *ngIf="showActorEditOptions" class="editSetups" (click)="onClickMenuNavItem($event)"  [id]="'nav-button-actors'">
                <span class="material-icons">supervisor_account</span>
                Edit Actors
            </button>
        </div>
        <div>
            <button nbButton *ngIf="showSetupEditOptions" appearance="ghost" class="editSetups" (click)="onClickMenuNavItem($event)" [id]="'nav-button-setups'">
                <span class="material-icons" >security</span>
                Edit Setups
            </button>
        </div>
    </div>
</div>
<div *ngIf="menuState==='compacted'">
    <div class="row">
        <button nbButton ghost fullWidth class="menu-button" (click)="toggleSidebar()"><span class="material-icons">menu</span></button>
    </div>
    
    <div class="row" *ngFor="let item of itemsCompact">
        <button nbButton ghost fullWidth style="padding-top: 1rem;"  [ngClass]="(item.setupId === _setup) ? 'nav-button selected' : 'nav-button'" (click)="onClickMenuNavItem($event)" [id]="'nav-button-setup-' + item.setupId">{{item.title.length > 3 ? item.title.slice(0,3) : item.title}}</button>
    </div>
    <div class="row">
        <button nbButton fullWidth appearance="ghost" *ngIf="showActorEditOptions" (click)="onClickMenuNavItem($event)"  [id]="'nav-button-actors'" [ngClass]="(editActors === true) ? 'nav-button selected' : 'nav-button'" class="nav-button">
            <span class="material-icons">supervisor_account</span></button>
    </div>
    <div class="row">
        <button nbButton fullWidth appearance="ghost" *ngIf="showActorEditOptions"  [ngClass]="(editSetups === true) ? 'nav-button selected' : 'nav-button'" class="nav-button" (click)="onClickMenuNavItem($event)" [id]="'nav-button-setups'">
            <span class="material-icons">security</span></button>
    </div>
    

</div>