<div class="text-center">
    <div ngbDropdown container="body">
        <button class="btn btn-outline-primary btn-md btn-circle" ngbDropdownToggle><i class="fa fa-bars"></i></button>
        <div ngbDropdownMenu>
          <button ngbDropdownItem *ngIf="viewDiagram">View Diagram</button>
          <button ngbDropdownItem>{{editAuthority ? 'Edit' : 'View'}}</button>
          <button ngbDropdownItem>Clone</button>
          <div class="dropdown-divider"></div>
          <button ngbDropdownItem>Delete</button>
        </div>
      </div>
</div>