<div class="row">
    <div class="col-12">
        <nb-card>
            <nb-card-header>
                <strong>{{setup?.name}}</strong> Workflows
                <button nbButton hero status="info" class="pull-right">+</button>
            </nb-card-header>
            <nb-card-body>
                <ng2-smart-table (rowSelect)="onSelect($event)" [source]="workflowsSource"
                    [settings]="workflowSettings"></ng2-smart-table>
            </nb-card-body>
        </nb-card>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <ngx-use-cases *ngIf="selectedWorkflow" [workflow]="selectedWorkflow"></ngx-use-cases>
    </div>
</div>