<nb-layout>
<nb-layout-column>
    <nb-card>
        <nb-card-header>
            <strong>{{setup ? setup.name: ''}}</strong> Workflows
            <button nbButton hero shape="round" status="info" style="float: right;"><span class="material-icons">add</span></button>
        </nb-card-header>
        <nb-card-body>
            <app-workflows-grid [setupId]="setupId" (onWorkflowSelected)="handleWorkflowSelect($event)"></app-workflows-grid>
        </nb-card-body>
    </nb-card>
</nb-layout-column>
<nb-layout-column *ngIf="workflowId">
    <nb-card>
        <nb-card-header>
            <strong>{{workflowName ? workflowName : ''}}</strong> Use Cases
            <button nbButton hero shape="round" status="info" style="float: right;"><span class="material-icons">add</span></button>
        </nb-card-header>
    <nb-card-body>
        <app-use-cases-grid [setupId]="setupId"></app-use-cases-grid>
    </nb-card-body>
    </nb-card>
    
</nb-layout-column>
</nb-layout>