<nb-layout>
    <nb-layout-column>
        <div class="row">
            <div [ngClass]="{'col-12': !workflowId, 'col-sm-12 col-md-6': workflowId}">
                <nb-card class="dashboard-card">
                    <nb-card-header>
                        <div class="row">
                            <div class="col-6 custom-card-title">
                                <strong>{{setup ? setup.name: ''}}</strong> Workflows
                            </div>
                            <div class="col-6">
                                <button nbButton hero shape="round" size="tiny" (click)="onAddWorkflow()" status="info"
                                    style="float: right;"><span class="material-icons">add</span></button>
                            </div>
                        </div>
                    </nb-card-header>
                    <nb-card-body>
                        <app-workflows-grid [setupId]="setupId" (onWorkflowSelected)="handleWorkflowSelect($event)">
                        </app-workflows-grid>
                    </nb-card-body>
                </nb-card>
            </div>
            <div class="col-sm-12 col-md-6" *ngIf="workflowId">
                <nb-card class="dashboard-card">
                    <nb-card-header>
                        <div class="row">
                            <div class="col-6 custom-card-title">
                                <strong>{{workflowName ? workflowName : ''}}</strong> Use Cases
                            </div>
                            <div class="col-6">
                                <button nbButton hero shape="round" size="tiny" (click)="onAddUseCase()" status="info"
                                    style="float: right;"><span class="material-icons">add</span></button>
                            </div>
                        </div>
                    </nb-card-header>
                    <nb-card-body>
                        <app-use-cases-grid [setupId]="setupId"></app-use-cases-grid>
                    </nb-card-body>
                </nb-card>
            </div>
        </div>
    </nb-layout-column>
</nb-layout>