        <nb-card>
            <nb-card-header>
                Edit Setups
            </nb-card-header>
            <nb-card-body>
                <ng2-smart-table [source]="source" [settings]="settings"
                (deleteConfirm)="confirmDelete($event)"></ng2-smart-table>
               <ngb-pagination style="margin: 3px;" *ngIf="paging.itemsCount > paging.pageSize" [ellipses]="false" [pageSize]="paging.pageSize" [collectionSize]="paging.itemsCount" [rotate]="true" [boundaryLinks]="true" [page]="1" (pageChange)="handlePageChange($event)">

               </ngb-pagination>
            </nb-card-body>
            <nb-card-footer>
                <nb-toggle [(checked)]="showDeleteAction"
                status="{{showDeleteAction ? 'danger':'danger'}}"
                (checkedChange)="updateSettings()"
                labelPosition="start" ><span style="color:#dc3545;">
                    <span class="material-icons">security</span>
                Enable Delete Action</span></nb-toggle>
            </nb-card-footer>
        </nb-card>
