<div class="page-sidebar md-shadow-z-2-i">
    <ul class="page-sidebar-menu" style="width:100%;height:100%;">
        <li class="heading" style="box-shadow: none;padding:0;pointer-events:none;">
            <a href="javascript:;" class="menu-toggler sidebar-toggler">
                <i class="fa fa-bars"></i>
                <span class="title">Catalog</span>
            </a>
        </li>
        <li [ngClass]="{'active':activeMenu === 0}">
            <a href="javascript:;" (click)="activeMenu === 0 ? activeMenu = null : activeMenu = 0" data-url="javascript:;">
                <i class="fa fa-cog"></i>
                <span class="title">Functional Catalog</span>
                <i class="fa fa-chevron-down" style="float:right;"></i>
            </a>
            <ul class="sub-menu navbar-collapse collapse" [ngbCollapse]="activeMenu !== 0">
                <li>
                    <a href="/ProductCatalog/ProductCatalog?productId=1" data-url="/ProductCatalog/ProductCatalog">
                        <i class="fa fa-angle-right"></i>
                        <span class="title">Team</span>
                    </a>
                </li>
                <li>
                    <a href="/ProductCatalog/ProductCatalog?productId=2" data-url="/ProductCatalog/ProductCatalog">
                        <i class="fa fa-angle-right"></i>
                        <span class="title">Cerebral Plus</span>
                    </a>
                </li>
                <li>
                    <a href="/ProductCatalog/ProductCatalog?productId=3" data-url="/ProductCatalog/ProductCatalog">
                        <i class="fa fa-angle-right"></i>
                        <span class="title">Acıbadem Online</span>
                    </a>
                </li>
                <li>
                    <a href="/ProductCatalog/ProductCatalog?productId=4" data-url="/ProductCatalog/ProductCatalog">
                        <i class="fa fa-angle-right"></i>
                        <span class="title"> I-ticket</span>
                    </a>
                </li>
            </ul>
        </li>
        <li [ngClass]="{'active':activeMenu === 1}">
            <a href="javascript:;" (click)="activeMenu === 1 ? activeMenu = null : activeMenu = 1" data-url="javascript:;">
                <span class="title">WorkFlow Catalog</span>
                <i class="fa fa-chevron-down" style="float:right;"></i>
            </a>

            <ul class="sub-menu navbar-collapse collapse" [ngbCollapse]="activeMenu !== 1">
                <li *ngFor="let setup of setups">
                    <a href="#">
                        <i class="fa fa-angle-right"></i>
                        <span class="title">{{setup.name}}</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>